<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100vh;
          margin-top: 10px;
          background:linear-gradient(rgba(145, 135, 165, 0.703), rgba(128, 139, 139, 0.868)) , url("https://imgs.search.brave.com/RmBojIAG-ij3bSYVCOcpBJPfwOfX5OpTLjIxTX5YHiU/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9zdDIu/ZGVwb3NpdHBob3Rv/cy5jb20vMTc0MTk2/OS84NDk2L2kvNjAw/L2RlcG9zaXRwaG90/b3NfODQ5Njc1NTQt/c3RvY2stcGhvdG8t/aW1hZ2Utb2Ytd29v/ZGVuLXRhYmxlLWlu/LmpwZw");
          background-size:cover ;
          background-position: center;
          background-repeat: no-repeat;
          /* background: linear-gradient( rgba(151, 135, 135, 0)),linear-gradient(rgba(0,0,0,0)),url("https://th.bing.com/th/id/OIP.9mbB3BUVLddwDU4aGi9FRAHaE7?w=243&h=180&c=7&r=0&o=5&dpr=1.5&pid=1.7"); */
        }
    
        form {
          background-color: white;
          /* background: transparent; */
          padding: 20px;
          border-radius: 8px;
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.1);
          
        }
    
        label {
          display: block;
          margin-bottom: 8px;
        }
    
        input, select {
          width: 100%;
          padding: 8px;
          margin-bottom: 16px;
          box-sizing: border-box;
        }

    
        .gender-label {
          display: flex;
          gap: 20px;
          align-items: center;
          margin-bottom: 16px;
        }
    
        .gender-label input {
          margin-right: 8px;
        }
    
        button {
          background-color: #242924;
          color: #fff;
          padding: 10px;
          border: none;
          border-radius: 4px;
          cursor: pointer;
        }

        .main-div{
            display: flex;
            padding: 10px;
        }

        .main1{
            padding-left: 20px;
        }

        .h2{
            padding-left: 100px;
            font-weight: 800;
        }
        .btnRegister {
            /* background-color: #3498db;  */
            /* background: transparent; */
            background: linear-gradient(to right, #efa941, #000706);
            color: white;
            padding: 10px 20px;
            font-size: 1.2rem;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-weight: 700;
        }

        .btnRegister:hover {
            background-color: #ffffff; /* Change this color for the hover effect */
        }

        input.styled-input {
            border: 2px solid #924b4b;
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            transition: border-color 1s; 
        }
        input.styled-input:focus {
            border-color: #000000 !important; 
        }

        .gender-label{
          color: #828080;
          margin-left: 30px;
          margin-right: 20px;
          padding-left: 10px;
          display: flex;
          flex-direction: row;
        }

       

        
        

    
      </style>
</head>

<body>
    <form action="/register" method="POST">
        <h2 class="h2">CREATE ACCOUNT</h2>
        <div class="main-div">
            
            <div class="main1">
    
                <label for="firstName"></label>
                <input type="text" id="firstName" name="firstName" placeholder="First Name" class="styled-input" required>
                
                <label for="lastName"></label>
                <input type="text" id="lastName" name="lastName" placeholder="Last Name" class="styled-input" required>
        
                <label for="email"></label>
                <input type="email" id="email" name="email" placeholder="Email" class="styled-input" required>
            </div>
    
            <div class="main1">
                <label for="password"></label>
                <input type="password" id="password" name="password" placeholder="Password" class="styled-input"required>
        
                <label for="confirmPassword"></label>
                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" class="styled-input" required>
        
                <label for="phoneNumber"></label>
                <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="Phone Number" class="styled-input" required>
            </div>
        </div>
        
        
    
        
    
        <div class="gender-label">
          <label>Gender:</label>
          
            <input type="radio" id="male" name="gender" value="male" class="g" required>
            <label for="male" class="g">Male</label>
           

            <input type="radio" id="female" name="gender" class="g" value="female">
            <label for="female" class="g">Female</label>
          
          
          
            <input type="radio" id="other" name="gender" class="g" value="other">
            <label for="other" class="g">Other</label>
          
          
        </div>
    
        <input type="submit" class="btnRegister" value="Sign Up">
      </form>
</body>
</html>